################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite

.vs
.vscode

bin/
obj/
/dotnet/dotnet3.1/Debian/*.orig
